<strong>Olá, {{ name }}</strong>
<p>
  Houve uma nova inscrição em um dos seus meetups! confira abaixo:
</p>
<p><strong>Inscrito:</strong> {{ user }} <br>
<strong>Meetup:</strong> {{ title }} <br>
<strong>Data/Hora:</strong> {{ date }} <br>
<strong>Descrição:</strong> {{ description }} <br>
</p>
